<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Oskar & CM's Diary app</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Fakebook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">

        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/add-entry">Add new notice </a>
            </li>
        </ul>
    </div>
</nav>

<h1>Edit Fakebook Notice</h1>

<!--    <input class="form-control m-2" id="TitleEntry" type="text" th:value="${notice.userName}"></br>-->
    <div class="form-group">
        <h3>Notice</h3>
        <textarea class="form-control m-2" id="TextareaEntry" th:inline="text" rows="3">[[${notice.text}]]</textarea>
    </div>

<h3>Comments</h3>
    <div class="list-group" th:each="comment: ${comments}" style="display: flex; flex-direction: row;">
            <button type="button" style="max-width: 300px" class="list-group-item list-group-item-action">
                <p th:text="${comment.replyText}"></p>
            </button>
    </div>

    <div class="form-group" style="display: flex; flex-direction: row" >
        <textarea class="form-control m-2" id="comment" rows="3"></textarea>
        <button class="btn btn-primary btn-lg m-2" onclick="addComment();">Add Comment</button>
    </div>

    <div style="display: flex; flex-direction: row">
        <button class="btn btn-primary btn-lg m-2" onclick="submitEntry();">Update</button>
        <i class="fa fa-check" style="color: green; font-size: 30px; align-self: center; display: none" aria-hidden="true" id="success"></i>
        <i class="fa fa-times" style="color: red; font-size: 30px; align-self: center; display: none" aria-hidden="true" id="fail"></i>
    </div>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script th:inline="javascript">
    let addComment = () => {
        let comment = document.getElementById("comment").value;

        let url = "/add-comment";

        let body = {
            replyText: comment,
            notice: {id: [[${notice.id}]]}
        }

        fetch(url,{
            method: "POST",
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify(body)
        })
    }
    // Function that gets input fields and then checks if they contain any value and then update the entry.
    let submitEntry = () => {
        let textarea = document.getElementById('TextareaEntry').value;


        let url = "/notice/" + [[${notice.id}]];

        let bodyJSON = {
            text: textarea
        };
        fetch(url, {
            method : "PATCH",
            headers: {
                'Content-Type': 'application/json'
            },
            body : JSON.stringify(bodyJSON)
        })

    }
</script>
</html>