<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Fakebook</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">Fakebook</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
        <ul class="navbar-nav">
            <li class="nav-item active">
                <a class="nav-link" href="/add-entry">Add new notice</a>
            </li>
        </ul>
    </div>
</nav>

<h1>Welcome to Fakebook</h1>

<!--thymeleaf foreach loop that displays all entries-->
<div class="list-group" th:each="notice: ${notices}" style="display: flex; flex-direction: row;">
    <a th:href="@{/edit-view/{id}(id=${notice.id})}" >
        <button type="button" style="min-width: 600px" class="list-group-item list-group-item-action">
            <p th:text="${notice.text}"></p>
        </button>
    </a>
    <button style="height: 50%; align-self: center" type="button" class="btn btn-danger ml-3" th:onclick="|deleteEntry('${notice.id}')|">DELETE</button>
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" >@</span>
    </div>
    <input type="text" class="form-control" placeholder="Username" id="userName" aria-label="Username" aria-describedby="basic-addon1">
</div>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" >Password</span>
    </div>
    <input type="password" class="form-control" id="password" placeholder="Password" aria-label="Username" aria-describedby="basic-addon1">
</div>

<button type="button" class="btn btn-primary" onclick="login()">Login</button>
<button type="button" class="btn btn-danger" onclick="logout()">Logout</button>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
<script>
    // Login with username and password..
    let login = () => {
        let userName = document.getElementById('userName').value;
        let password = document.getElementById('password').value;

        const reqBody = {
            userName: userName,
            password: password
        }

        let url = "/saveSession";
        fetch(url, {
            method: "POST",
            headers: {
                'content-type': "application/json"
            },
            body: JSON.stringify(reqBody)
        })
    }

    let logout = () => {
        fetch("/logout", {
            method: "POST",

        })
    }

    // function that deletes notice
    let deleteEntry = (id) => {
        fetch("/notice/" + id, {
            method: "DELETE",
            headers: {
                accept: "application/json"
            }
        })
    }
</script>
</html>

